<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <ul>
        <!-- Level 1 -->
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>

        <!-- Level 2-->
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>

        <!-- Level 3 -->
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>

        <!-- Level 4 -->
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
    </ul>

    <!-- Message -->
    <div id="_message_">

    </div>
    <script type="text/javascript">
        var levels = {};


    </script>
</body>
</html>
